<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../static/js/matter.min.js" type="text/javascript"></script>
    <script src="../static/js/decomp.min.js" type="text/javascript"></script>
    <script src="../static/js/index.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <img class="background-image" src="../static/background-back.jpg" />
    <img class="background-image" src="../static/background.png" />
    <div id="score">
      <h3 id="score-title">Your score: 0</h3>
      <div>
        <img class="heart" src="../static/heart.png" />
        <img class="heart" src="../static/heart.png" />
        <img class="heart" src="../static/heart.png" />
        <img class="heart" src="../static/heart.png" />
        <img class="heart" src="../static/heart.png" />
      </div>
    </div>
    <div id="game-over-container" class="hidden">
      <h1 id="game-over">Game over!</h1>
      <button id="again">Try again</button>
    </div>
    <canvas id="root">Old browser, sorry</canvas>
  </body>
</html>
